body {
  background-color: #21abff;
  font-family: Helvetica;
  margin-top: 0;
}
nav {
  background-color: #fffb08;
  padding: 0.2em;
  margin-left: -1em;
  margin-right: -0.5em;
}
nav > ul {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  list-style: none;
  display: inline;
  font-size: 1em;
}
.nav-link > a {
  text-decoration: none;
  color: #333;
}
.nav-link > a:hover {
  font-size: 1.1em;
  color: #21abff;
}
header {
  text-align: center;
  margin: auto;
}
